html, body, #wrap {
    height: 100%;
    color: #444;
}
a {
    color: #0084B4;
}
.blue {
    color: #0084B4;
}
.red {
    color: #FF493C;
}
.number {
    color: #CCCCCC;
}
#say_thanks {
    padding-top: 20px;
    text-align: right;
}
#say_thanks form {
    display: none;
    position: absolute;
    width: 310px;
    background: #fff;
    padding: 10px;
    margin-left: 30px;
    border: 1px solid #eee;
    border-top: 0;
}
#say_thanks textarea {
    width: 300px;
    height: 4em;
}
#results a {
    text-decoration: none;
}
#results li {
    color: #CCCCCC;
}
#progress {
    font-family: monospace;
    font-size: 14px;
    line-height: 25px;
    background: #FFFFCC;
    padding: 0px 5px;
}
#progress a {
    color: #3695a9;
    font-weight: bold;
}
#header {
    height: 100px;
    padding-top: 15px;
}
#header a {
    text-decoration: none;
}

footer {
    text-align: left;
    width: 36em;
    margin: 0 auto;
    line-height: 1.5em;
    padding: 0.7em 1em;
    background: #ecf6fa;
    overflow: hidden;
    margin-top: -2.5em;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
footer p, footer ul {
    margin-bottom: 0.6em;
}
footer li {
    list-style: none;
}
body > #wrap {
    min-height: 100%;
    height: auto !important;
}
#results {
    padding-bottom: 4em;
    padding-top: 1em;
}
#results li {
    font-size: 1.2em;
    line-height: 1.7em;
}
#results ul {
    margin: 0;
    list-style-type: none;
}
#results a {
    position: relative;
}
#results .unfollowed a {
    color: #aaa;
}
#results .followed a {
    color: #FF493C;
}
.auth_button {
    display: inline;
    line-height: 15px;
    font-size: 13px;
    cursor: pointer;
    display: none;
}
#login {
    height: 24px;
    margin-top: 18px;
}
#logout {
    color: #7F453F;
    border-bottom: 1px dotted #AF908D;
    margin-left: 1em;
}
#intro {
    font-size: 1.3em;
    overflow: hidden;
}

#intro dt {
    width: 190px;
    margin-right: 10px;
    float: left;
    text-align: right;
}
#intro dd {
    width: 350px;
    margin-bottom: 1em;
    margin-left: 0;
    float: left;
}
#tweepsect_input {
    display: none;
}
#templates {
    display: none;
}
.floating_info_body {
    background: #ffc;
    color: #666;
    padding: 4px;
    line-height: 20px;
    font-size: 12px;
}
.floating_info {
    float: right;
    background: #fff url('/static/images/yellow_corner.png') no-repeat left 1em;
    padding-left: 10px;
    width: 175px;
}
.floating_info p {
    margin: 0;
}
.floating_info img {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.floating_info .name {
    font-weight: bold;
    font-size: 16px;
}
.floating_actions {
    height: 15px;
    width: 32px;
    position: absolute;
    margin-top: -1.25em;
    margin-left: -38px;;
}
.floating_actions i {
    float: left;
}
.floating_row {
    position: relative;
    margin-left: -100px;
    padding-left: 100px;
}
.twitter_sprite {
    background-image: url('/images/sprites.png?3');
    background-repeat: no-repeat;
    font-size: 14px;
    height: 1em;
    width: 1em;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin: 1px;
    cursor: pointer;
}
.button {}
.twitter_sprite.follow { background-position:-0em -0em; }
.twitter_sprite.follow:hover { background-position:-1em -0em; }
.twitter_sprite.unfollow { background-position:-2em -0em; }
.twitter_sprite.unfollow:hover { background-position:-3em -0em; }
.twitter_sprite.stale { background-position: -4em 0em; }
.twitter_sprite.loud { background-position: -5em 0em; }
.twitter_sprite.xoxo { background-position: -6em 0em; }
.twitter_sprite.bb { background-position: -7em 0em; }

#warning {
    color: #733;
    font-size: 1.4em;
    padding: 1em;
    margin: 1em auto;
    border: 1px solid #aaa;
    background: #eee;
}
#warning strong {
    color: red;
}
.ad {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
    color: #555;
    font-size: 14px;
}
.ad hr {
    width: 200px;
    height: 1px;
    margin: 2em auto;
}
.ad a, #results .ad a {
    color: #555;
}

.ad img {
    float: left;
    padding-right: 1em;
}
.ad a.ad-placeholder {
    color: #aaa;
    display: block;
    line-height: 3em;
    font-size: 0.8em;
}
.ad #fusion_ad {
    overflow: hidden;
}

#broken {
    font-size: 1rem;
    line-height: 1.3;

    padding: 0.5em 1em;
    margin: 1em auto 2em auto;
    background: rgba(200, 40, 40, 0.1);
    border: 2px solid rgba(200, 40, 40, 0.5);

    max-width: 600px;
}

#broken p {
    margin-bottom: 1em;
}

#broken a {
    font-weight: bold;
}
